:root {
	--secondary: #003354;
	--primary: #91bed4;
	--BGcolour1: #d9e8f5;
	--BGcolour2: #999;
	--CTA: #f26101;
	--BGpage: #e0e0e0;
}

.modal{
    display:none;
    position: fixed;
    z-index: 1;
    left: 0; 
    top: 0;
    height: 100vh;
    width: 100vw;
	display: flex; 
	justify-content: center;
	align-items: center;
    overflow: hidden;
    background-color: rgba(0,0,0,0.7);
}

.reggaModal-content{
    background-color: #f4f4f4;
    padding: 30px 0;
	padding-bottom: 60px;
    width: 30%;
	
	
	border-radius: 1rem;
    box-shadow:
    0 5px 8px 0 rgba(0,0,0,0.2),
    0 7px 20px 0 rgba(0,0,0,0.17);
    animation-name: modalopen;
    animation-duration: 1s;
}

/* Page container styles */
.registrerings-container {
	display: flex;
	justify-content: center;
}


/* Form */
.form > .form-group {
	margin-top: 30px;
	margin-bottom: 30px;
}

.form input {
	font-size: 1.5rem;
	color: var(--secondary);
	font-family: inherit;
	padding: 1rem 2rem;
	border-radius: 2px;
	border: none;
	border-bottom: 3px solid var(--secondary);
	width: 100%;
	display: block;
	transition: all 0.3s;
}

.form input:focus {
	outline: none;
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
	border-bottom: 3px solid #f26101;
}

.form textarea {
	margin-top: 20px;
	width: 100%;
	height: 250px;
	border-radius: 3px;
	border: 3px solid #003354;
	font-size: 1.5rem;
	color: #003354;
	font-family: inherit;
	padding: 1.5rem 2rem;
	transition: all 0.3s;
}

.form textarea:focus {
	outline: none;
	box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.1);
	border: 3px solid #f26101;
}

.form input::-webkit-input-placeholder,
.form textarea::-webkit-input-placeholder {
	color: #003354;
}

.form label {
	font-size: 1.2rem;
	font-weight: 700;
	margin-left: 2rem;
	margin-top: 0.7rem;
	display: block;
	transition: all 0.3s;
	color: #f26101;
	visibility: hidden;
	opacity: 0;
}

.form input:focus + label,
.form textarea:focus + label {
	opacity: 1;
	visibility: visible;
	transform: translateY(0.5rem);
}

.form input:focus::-webkit-input-placeholder,
.form textarea:focus::-webkit-input-placeholder {
	color: transparent;
}

@keyframes modalopen{
    from{opacity: 0;}
    to{opacity: 1;}
}
